.container{
    outline: 2px black solid;
    font-family: 'Kanit', sans-serif;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(12,1fr);
}
.sub-c-1{
    outline: 2px red solid;
    grid-row: span 1;
    grid-column: span 12;
}
.sub-c-2,.sub-c-3{
    outline: 2px green solid;
    grid-row: span 1;
    grid-column: span 12;
    text-align: center;
}
.sub-c-4{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}
.sub-c-5{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 6;
}
.sub-c-6{
    float: right;
    grid-row: auto;
    grid-column-start: 7;
    grid-column-end: auto;
}


.navigation-bar{
    
}
.nav-item{
    font-size: large;

}