body{
    background-color: aliceblue;
    margin: 50px 150px;
    display: flex;
    flex-direction: column;
}

.box{
    flex: 1;
}

#headshot{
    height: 300px;
    position: relative;
    left: 10px;
    float: left;
    margin-right: 30px;
}

.project > img{
    height: 200px;
    position: relative;
    left: 10px;
    padding: 10px;
}

.projectTitle{
    background-color: antiquewhite;
    text-align: center;
    padding: 10px;

}

.links,.links > a{
    padding: 10px;
    text-align: center;
}
