/* https://www.color-hex.com/color-palette/1025449 */
body{
    background-color: #c1d0b5;
    margin: 50px 200px;
}

#headshot{
    height: 200px;
    width: 175px;
    position: relative;
    left: 10px;
}

.project > img{
    height: 200px;
    position: relative;
    left: 10px;
    padding: 10px;
}

.projectTitle{
    background-color: #99a98f;
    text-align: center;
    padding: 10px;

}

.links,.links > a{
    padding: 10px;
    text-align: center;
}
