
body{
    background-color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin: 25px 100px;
}

#navBar{
    display: flex;
    justify-content: space-around;
    background-color: tan;
    outline: 1px black solid;
    font-weight: bold;
    margin-bottom: 100px;
}

#headshot{
    position: relative;
    left: 10px;
    height: 25rem;
    margin-right: 50px;
}

.container{
    display: flex;
    gap: 20px;
    padding-bottom: 225px;
    outline: 2px black solid;
}

.project > img{
    height: 10%;
    flex-basis: 400px;
    padding: 10px;
}

.projectTitle{
    text-align: center;
    font-size:3rem;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
    padding: 10px;

}

