body{
    background-color: #c1d0b5;
    margin: 50px 100px;
}


#intro{
    padding: 10px;
}

#headshot{
    height: 300px;
}

.card{
    display: block;
    margin-bottom: 30px;
    border: solid black;
}
.title{
    background-color: #99a98f;
    padding: 10px;
}

footer, footer > a{
    padding: 10px;
    text-align: center;
}